:root {
  --slate_300: hsl(212, 45%, 89%);
  --slate_500: hsl(216, 15%, 48%);
  --slate_900: hsl(218, 44%, 22%);
  --white: hsl(0, 0%, 100%);
}

* {
  font-family: "Outfit", sans-serif;
  font-weight: 400, 700;
}

body {
  background-color: var(--slate_300);
}

.attribution {
  background-color: var(--slate_900);
  display: flex;
}
